{% extends "auth/layout.html" %}

{% block title %}register{% endblock %}

{% block repeat_password %}
    <label for="repeat_password">Confirm password</label>
    <input id="repeat_password" name="repeat_password" type="password" placeholder="Confirm Password" required>
    {% if password_match_error %}
      <p>{{ password_match_error }}</p>
    {% endif %}

{% endblock %}

{% block forget_password %}{% endblock %}

{% block button_text%}Register{% endblock %}

{% block register %}{% endblock %}

{% block login %}<p>Already have an account? <a href="login">Login</a></p>{% endblock %}