.bd-layout {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 5fr;
    gap: 1.5rem;
}

.bd-gutter {
    --bs-gutter-x: 3rem;
}

.bd-sidebar {
    grid-area: sidebar;
}

.bd-main {
    grid-area: main;
}

@media (min-width: 768px) {
    .bd-main {
        display: grid;
        gap: inherit;
    }
}